* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-container {
  position: relative;
  display: flex;
  flex-flow: row wrap;
}

.card-content {
  position: relative;
  width: 100%;
  margin: 1em;
}

.card-image {
  display: block;
  max-width: 100%;
}
