<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Prueba</mat-panel-title>
  </mat-expansion-panel-header>

  <dev-material-button></dev-material-button>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Campo de texto (input)</mat-panel-title>
    </mat-expansion-panel-header>

    <dev-material-input></dev-material-input>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Listas</mat-panel-title>
    </mat-expansion-panel-header>

    <dev-material-list></dev-material-list>
  </mat-expansion-panel>
